.marco {
    min-height: 100%;
    max-width: 60rem;
    margin: auto;
    display: grid;
    grid-template-rows: auto 1fr;
    position: relative;
    padding: 0 1rem;
}
.contenedor_fotografia{
    height: 480px;
    position: absolute;
    width: 100%;
    background-color: rgb(150, 129, 129);
}