.div_s1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.h1 { 
    font-size: 3em;
    text-align: center;
    color: white;
    line-height: 3rem;
}
.navbar {
   padding-bottom: 2rem;

}
.div_icon_tres_flecha{
    cursor: pointer;
    position: relative;
    left: -1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    overflow: hidden;
}
.icon_tres_flecha{
    height: 1.7rem;
    width: fit-content;
    color: white;
}
.efecto_icon {
    position: absolute;
    background-color: white;
 
    border-radius: 50%;

    left: calc( 64.28571428571429%);
    top: calc(43.47826086956522%);
    
    transform: translate(-50%, -50%);
    opacity: 0.3;
}
@keyframes expansivo {
    0% {   
        height: 0%;
        width: 0%;
     }
     100% {
        height: 200%;
        width: 200%;
     }
}