.mas {
    justify-content: center;
    padding-top: 1.5rem;
}
.mas_a:hover{
    cursor: pointer;
    background-color: #c2e4ff;  
}

.mas_a{
    z-index: 10;
    color: #2196f3;   
    padding: .5rem;
}
.reemplazo {
    color: #2196f3;
}

.footer {
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.7rem;
}
.footer_h5{
    font-size: .7em;
}
.footer_h5 span{
    color: #2196f3; 
}
.footer_p{
   color: #2196f3;  
}